html {
  height: 100%;
  overflow-y: hidden;
}
body {
  height: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
li:not(:last-child) {
    margin-bottom: 5px;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #aaaaaa;
}
